# RucoNet (docker compose run --rm ruconet ruconet-hub keygen <name> in the ruconet repository)
RUCONET_PRIVATE_KEY=
RUCONET_PRESHARED_KEY=
RUCONET_HUB_PUBLIC_KEY=

# Must match MAIL_DB_PASSWORD and ROUNDCUBE_DB_PASSWORD in the db repository
MAIL_DB_PASSWORD=
ROUNDCUBE_DB_PASSWORD=

ROUNDCUBE_DES_KEY=
RSPAMD_PASSWORD=
REDIS_PASSWORD=
